@import url(./projects.css);
@import url(./contatos.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --bg-card :#363B40;
    --input-base: #1C1F21;
    --bg-color: #131516;
    --shape-body: #212427;
    --border: #869198;
    --gray-400: #292C34;
    --bg-nav: #0D0E11;
    
}
body{
    color: white;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
nav, footer{
    background-color: var(--bg-nav);
}
.container{
    display: flex;
    flex-direction: column;
    padding-inline: 12rem;
}
.titulo{
    font-size: 4rem;
    text-align: center;
    color: #E3646E;
}
a{
    color: white;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}
.center{
    text-align: center;
}
footer {
    img{

    }
    a{
        margin: 20px;
        text-align: center;
    }
    p{
        margin-top: 2px;
    }
}
.container{
    padding: 0px 50px;
}
nav a:hover{
    color: green;
}