@import url(./projects.css);
@import url(./contatos.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --bg-card :#363B40;
    --input-base: #1C1F21;
    --bg-color: #131516;
    --shape-body: #212427;
    --border: #869198;
    --gray-400: #292C34;
    --bg-nav: #0D0E11;
    --fx-color: #E3646E;
    --title-md: 2.4rem/1.2 bold var(--font-Asap);
    --title-md: 1.6rem/1.2 bold var(--font-Asap);
    --font-Asap: "Asap", sans-serif;
    --font-Maven: "Maven Pro", sans-serif;
}
body{
    color: white;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;

    height: 100vh;
}
main{
    padding: 0 12rem 8rem;
}
h3{
    font: var(--title-md);
    font-size: 2.4rem;
    margin-block: 2.4rem 1.2rem;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
nav, footer{
    background-color: var(--bg-nav);
}
nav{
    font-size: 1.8rem;
    padding-inline: 8rem;
}
.titulo{
    font-size: 4rem;
    color: #E3646E;
}
a{
    color: white;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}
.center{
    text-align: center;
}
footer {
    bottom: 0;
    display: grid;
    gap: 2rem;
    padding-block: 8rem 12rem;

    p{
        margin-top: 2px;
    }
}
.social-links{
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    border: 2px solid transparent;
    display: flex;
    background-color:var(--gray-400);
    width: 40rem;
    margin-inline: auto;
    p{
        margin-left: 1.2rem;
    }
    span{
        width: 3rem;
        height: 3rem;
    }
    &:hover{
        border: 2px solid var(--fx-color);
    }
}
a:hover{
    color: var(--fx-color);
}
#github-logo{
    span{
        background-image: url(../img/icons/github-logo.svg);
    }
    &:hover{
        span{
            background-image: url(../img/icons/github-logo-hover.svg);
        }
    }
}
#linkedin-logo{
    span{
        background-image: url(../img/icons/linkedin-logo.svg);
    }
    &:hover{
        span{
            background-image: url(../img/icons/linkedin-logo-hover.svg);
        }
    }
}
#youtube-logo{
    span{
        background-image: url(../img/icons/youtube-logo.svg);
    }   
    &:hover{
        span{
            background-image: url(../img/icons/youtube-logo-hover.svg);
        }
    }
}