<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
          <ul>
              <li>
                  <a href="../index.html">Sobre mim</a>
              </li>
              <li>
                  <a href="/view/projects.html">Projetos</a>
              </li>
              <li>
                  <a href="#">Contato</a>
              </li>
          </ul>
      </nav>
      <main>
        <form action="">
            <div class="input-wrapper">
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" placeholder="Insira seu nome">
            </div>
            <div class="input-wrapper">
                <label for="mail">E-mail:</label>
                <input type="email" name="mail" id="mail" placeholder="Insira seu E-mail">
            </div>
            <div class="textarea-wrapper">
                <label for="">Mensagem:</label>
                <textarea name="" id="" rows="5"></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
      </main>
       <footer>
            <a id="github-logo" class="social-links" href="https://github.com/Celso-Fernandes-ON" target="_blank">
                <span></span>
                <img src="./img/github-logo.svg" alt="">
                <p>GitHub</p>
            </a>
            <a id="linkedin-logo" class="social-links" href="https://www.linkedin.com/in/celso-fernandes-on" target="_blank">
                <span></span>
                <p>Linkedin</p>
            </a>
            <a id="youtube-logo" class="social-links" href="" target="_blank">
                <span></span>
                <p>Youtube</p>
            </a>
        </footer>
    </div>
  </body>
</html>