<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projetos</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="../index.html">Sobre mim</a>
                    </li>
                    <li>
                        <a href="#">Projetos</a>
                    </li>
                    <li>
                        <a href="contato.html">Contato</a>
                    </li>
                </ul>
            </nav>
            <header>
                <h1 class="titulo">Meus Projetos</h1>
                <h2>Veja os projetos em destaque</h2>
            </header>
            <main class="container">
                <div class="projects">
                    <div class="card-project">
                        <img src="../img/Thumbnail_Project-01.png" alt="">
                        <div class="card-text">
                            <span>Travelgram</span>
                            <p>Rede social onde as pessoas mostram os registros de suas viagens pelo mundo</p>
                        </div>
                    </div>
                    <div class="card-project">
                        <img src="../img/Thumbnail_Project-02.png" alt="">
                        <div class="card-text">
                            <span>Dev Links</span>
                            <p>Pagina com links para minhas redes sociais com função de alternar entre modo claro ou escuro</p>
                        </div>
                    </div>
                    <div class="card-project">
                        <img src="../img/Thumbnail_Project-03.png" alt="">
                        <div class="card-text">
                            <span>Formulario de eventos</span>
                            <p></p>
                        </div>
                    </div>
                </div>
            </main>
             <footer>
                <a id="github-logo" class="social-links" href="https://github.com/Celso-Fernandes-ON" target="_blank">
                    <span></span>
                    <img src="./img/github-logo.svg" alt="">
                    <p>GitHub</p>
                </a>
                <a id="linkedin-logo" class="social-links" href="https://www.linkedin.com/in/celso-fernandes-on" target="_blank">
                    <span></span>
                    <p>Linkedin</p>
                </a>
                <a id="youtube-logo" class="social-links" href="" target="_blank">
                    <span></span>
                    <p>Youtube</p>
                </a>
            </footer>
        </div>
    </body>
</html>